<p id="notice"><%= notice %></p>

<%= image_tag @project.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Funding goal:</strong>
  <%= number_to_currency(@project.funding_goal) %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date.to_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date.to_date %>
</p>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-link" %> |
<%= link_to 'Back', projects_path, class: "btn btn-link" %>
